In [2]:
#use Python -v 3
import os

In [3]:
from IPython.display import Image

In [4]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
from rpy2.robjects import default_converter
from rpy2.robjects.conversion import localconverter

In [5]:
import pandas as pd

In [6]:
#read data from file
read_delim = robjects.r('read.delim')
seq_data = read_delim('sequence.index', header=True, stringsAsFactors=False)
#equivalent in R:
#seq.data <- read.delim('sequence.index', header = True, stringsAsFactors = False)

In [7]:
seq_data.head(3)

R object with classes: ('data.frame',) mapped to:
[StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., StrSexpVe..., IntSexpVe..., FloatSexp..., StrSexpVe...]
  FASTQ_FILE: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['data/NA19238/..., 'data/NA19238/..., 'data/NA19240/...]
  MD5: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['3b092ef1661e2..., 'fcb89b0a75577..., 'dcd4ff7db25a7...]
  RUN_ID: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['ERR000018', 'ERR000019', 'ERR000020']
  STUDY_ID: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['SRP000032', 'SRP000032', 'SRP000032']
...
  CENTER_NAME: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['', '', '']
  SUBMISSION_ID: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('RTYPES.INTSXP',) mapped to:
[9,280,498, 9,571,982, 149,044]
  SUBMISSION_DATE: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[334097928.000000, 344591352.000000, 5365584.000000]
  SAMPLE_ID: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['high coverage', 'high coverage', 'high coverage']

In [8]:
#inspect df
colNums = seq_data.ncol

In [9]:
rowNums = seq_data.nrow

In [10]:
Names = seq_data.colnames

In [11]:
print("This is a dataframe with " + str(colNums) + " columns and %d rows. \nThe column names are " % (rowNums))
print(Names)
#R equivalent to print col names, # of rows and # of cols
#print(colnames(seq.data))
#print(nrow(seq.data))
#print(ncol(seq.data))

This is a dataframe with 26 columns and 1297 rows.
The column names are
 [1] "FASTQ_FILE"          "MD5"                 "RUN_ID"
 [4] "STUDY_ID"            "STUDY_NAME"          "CENTER_NAME"
 [7] "SUBMISSION_ID"       "SUBMISSION_DATE"     "SAMPLE_ID"
[10] "SAMPLE_NAME"         "POPULATION"          "EXPERIMENT_ID"
[13] "INSTRUMENT_PLATFORM" "INSTRUMENT_MODEL"    "LIBRARY_NAME"
[16] "RUN_NAME"            "RUN_BLOCK_NAME"      "INSERT_SIZE"
[19] "LIBRARY_LAYOUT"      "PAIRED_FASTQ"        "WITHDRAWN"
[22] "WITHDRAWN_DATE"      "COMMENT"             "READ_COUNT"
[25] "BASE_COUNT"          "ANALYSIS_GROUP"

In [12]:
#mix r and python
my_cols = robjects.r.ncol(seq_data)
print(my_cols)
#CAUTION: cols w/dots in their names will result in 26 as a vector [26]
#use my_cols[0] instead

[1] 26

In [19]:
type(seq_data)

rpy2.robjects.vectors.DataFrame

In [14]:
robjects.r.str(seq_data)

'data.frame':	1297 obs. of  26 variables:
 $ FASTQ_FILE         : chr  "data/NA19238/sequence_read/ERR000018.filt.fastq.gz" "data/NA19238/sequence_read/ERR000019.filt.fastq.gz" "data/NA19240/sequence_read/ERR000020.filt.fastq.gz" "data/NA19240/sequence_read/ERR000020_1.filt.fastq.gz" ...
 $ MD5                : chr  "3b092ef1661e2a8ff85050e01242707d" "fcb89b0a755773872f1b073d0a518e0a" "dcd4ff7db25a75e462beaa75eb167bea" "fb5d7eb5137aa173f9f9ec344bd7a8e7" ...
 $ RUN_ID             : chr  "ERR000018" "ERR000019" "ERR000020" "ERR000020" ...
 $ STUDY_ID           : chr  "SRP000032" "SRP000032" "SRP000032" "SRP000032" ...
 $ STUDY_NAME         : chr  "1000Genomes Project Pilot 2" "1000Genomes Project Pilot 2" "1000Genomes Project Pilot 2" "1000Genomes Project Pilot 2" ...
 $ CENTER_NAME        : chr  "BGI" "BGI" "BGI" "BGI" ...
 $ SUBMISSION_ID      : chr  "ERA000013" "ERA000013" "ERA000013" "ERA000013" ...
 $ SUBMISSION_DATE    : chr  "2008-08-14 00:00:00" "2008-08-14 00:00:00" "2008-08-14 00:00:00" "2008-08-14 00:00:00" ...
 $ SAMPLE_ID          : chr  "SRS000212" "SRS000212" "SRS000214" "SRS000214" ...
 $ SAMPLE_NAME        : chr  "NA19238" "NA19238" "NA19240" "NA19240" ...
 $ POPULATION         : chr  "YRI" "YRI" "YRI" "YRI" ...
 $ EXPERIMENT_ID      : chr  "ERX000014" "ERX000014" "ERX000016" "ERX000016" ...
 $ INSTRUMENT_PLATFORM: chr  "ILLUMINA" "ILLUMINA" "ILLUMINA" "ILLUMINA" ...
 $ INSTRUMENT_MODEL   : chr  "Illumina Genome Analyzer" "Illumina Genome Analyzer" "Illumina Genome Analyzer II" "Illumina Genome Analyzer II" ...
 $ LIBRARY_NAME       : chr  "HU1000RADCAASE" "HU1000RADCAASE" "QRAACDEAAPE" "QRAACDEAAPE" ...
 $ RUN_NAME           : chr  "BGI-FC307N0AAXX" "BGI-FC307AWAAXX" "BGI-FC206YCAAXX_3" "BGI-FC206YCAAXX_3" ...
 $ RUN_BLOCK_NAME     : logi  NA NA NA NA NA NA ...
 $ INSERT_SIZE        : int  0 0 345 345 345 0 0 0 0 569 ...
 $ LIBRARY_LAYOUT     : chr  "SINGLE" "SINGLE" "PAIRED" "PAIRED" ...
 $ PAIRED_FASTQ       : chr  "" "" "" "data/NA19240/sequence_read/ERR000020_2.filt.fastq.gz" ...
 $ WITHDRAWN          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ WITHDRAWN_DATE     : chr  "" "" "" "" ...
 $ COMMENT            : chr  "" "" "" "" ...
 $ READ_COUNT         : int  9280498 9571982 149044 2057690 2057690 9388168 7762958 9625450 8808642 15187 ...
 $ BASE_COUNT         : num  3.34e+08 3.45e+08 5.37e+06 7.41e+07 7.41e+07 ...
 $ ANALYSIS_GROUP     : chr  "high coverage" "high coverage" "high coverage" "high coverage" ...

<rpy2.rinterface.NULLType object at 0x7f8f3c29a0a0> [RTYPES.NILSXP]